<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h1 class="toolbar-brand-title"><span>Springfield</span> Explorer</h1>
    <ion-buttons slot="end">
      <ion-button routerLink="/main/characters">
        <span class="material-symbols-outlined">search</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="characters-grid">
    @for (character of characters(); track character.id) {
      <app-card
        (click)="viewCharacterDetails(character.id)"
        [title]="character.title"
        [subtitle]="character.subtitle"
        [content]="character.content"
        [age]="character.age"
        [birthdate]="character.birthdate"
        [gender]="character.gender"
        [occupation]="character.occupation"
        [status]="character.status"
        [image]="character.portraitPath | simpsonsImageUrl"
        [alt]="character.alt">
      </app-card>
    } @empty {
      <div class="loading-container">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
        <p>Cargando personajes...</p>
      </div>
    }
  </div>
</ion-content>

