<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (showBackButton()) {
        <ion-button (click)="goBack()" class="header-action-btn">
          <span class="material-symbols-outlined header-back-icon">arrow_back</span>
        </ion-button>
      } @else {
        <ion-menu-button class="header-menu-btn"></ion-menu-button>
      }
    </ion-buttons>
    
    <ion-title class="header-title">{{ title() }}</ion-title>
    
    <!-- Right side placeholder to offset the menu/back button width and guarantee title centering -->
    <ion-buttons slot="end" class="header-right-placeholder">
      <div style="width: 48px;"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
